<h1>{{title}}</h1>
<div class="div-content-box">
    <!--Ganzer Content Block-->
    <div class="div-content-wrapper">
        <div class="div-content-area div-half-width">
            <span class="span-as-header">Arbeitszeit</span>
        </div>
        <div class="div-content-area div-half-width">
            <span>Gesamt: {{zeiterfassung.workday.TotalWorktime}}</span>
        </div>
    </div>
    <div class="div-content-wrapper">
        <div class="div-content-area div-half-width div-borderless">
            <!--Bereich: Buttons / Label "Arbeit"-->
            <div class="div-button-label-wrapper">
                <div class="div-button-placer">
                    <button class="eventButton" (click)=OnStartPressed()>Start</button>
                </div>
                <div class="div-label-placer">
                    <label>{{zeiterfassung.startTime}}</label>
                </div>
            </div>
        </div>
        <div class="div-content-area div-half-width div-borderless">
            <div class="div-button-label-wrapper">
                <div class="div-button-placer">
                    <button class="eventButton" (click)=OnEndePressed()>Ende</button>
                </div>
                <div class="div-label-placer">
                    <label>{{zeiterfassung.endTime}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="div-spacer" style="visibility: hidden">
        <span>HIDDEN, IST SPACER</span>
    </div>
    <div class="div-content-wrapper">
        <div class="div-content-area div-half-width">
            <span class="span-as-header">Pause</span>
        </div>
        <div class="div-content-area div-half-width">
            <span>Gesamt: {{zeiterfassung.workday.TotalBreakTime}}</span>
        </div>
    </div>
    <div class="div-content-wrapper">
        <div class="div-content-area div-half-width div-borderless">
            <!--Bereich: Buttons / Label "Arbeit"-->
            <div class="div-button-label-wrapper">
                <div class="div-button-placer">
                    <button class="eventButton" (click)=OnPauseStartPressed()>Start</button>
                </div>
                <div class="div-label-placer">
                    <label>{{zeiterfassung.lastBreakStart}}</label>
                </div>
            </div>
        </div>
        <div class="div-content-area div-half-width div-borderless">
            <div class="div-button-label-wrapper">
                <div class="div-button-placer">
                    <button class="eventButton" (click)=OnPauseEndPressed()>Ende</button>
                </div>
                <div class="div-label-placer">
                    <label>{{zeiterfassung.lastBreakEnd}}</label>
                </div>
            </div>
        </div>
    </div>
</div>