/*#region BaseStyles*/

h1{
    text-align: center;
    padding-bottom: 50px;
}

span {
	position: absolute;
  bottom: 0;
}

.span-as-header {
	color: #fff;
	position: absolute;
	bottom: 0;
	font-size: 25pt;
	font-family: Poppins-Regular;
}
/*#endregion BaseStyles */

/*#region div-container-styles*/

.div-content-box {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    padding: 50px;
    padding-bottom: 80px;
    width: 70%;
    height: auto;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    min-width: 240px;
}

.div-content-area {
	width: 100%;
    position: relative;
    border-bottom: 2px solid #fff;
    /*Borderline*/
    padding-bottom: 13px;
    margin-bottom: 20px;
}

.div-content-wrapper {
	width: 100%; 
	display: flex; 
	justify-content: space-between
}

.div-borderless {
	border: none;
}

.div-half-width {
	width: calc((100% - 30px) / 2);
}

.div-button-placer {
	display: flex;
	justify-content: flex-start;
}
.div-label-placer {
	display: flex;
	justify-content: flex-end;
}

.div-button-label-wrapper {
	display: flex;
	justify-content: space-between;
}

.div-spacer {
	width: 100%;
	height: 100px;
}

/*#endregion div-container-styles*/

/*#region button-styles*/

.eventButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
    color:#666666;
    outline: none;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.eventButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.eventButton:active {
	position:relative;
	top:1px;
}

/*#endregion button-styles*/
