<!--The content below is only a placeholder and can be replaced.-->
<div style="align-content: center">
    <table style="width: 100%">
      <tr>
          <td>
              <img width="150" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
          </td>
        <td valign="top">
            <h1>Welcome to {{ title }}!</h1>
        </td>
      </tr> <!--Intro-->
      <tr>
        <td>
            <h2>Here are some links to help you start: </h2>
        </td>
        <td rowspan="5">
          <div>
            <div *ngIf="showZeiterfassung">
              <app-ZeiterfassungsView ></app-ZeiterfassungsView>
            </div>
            <div *ngIf="showSettings">
              <app-SettingsView ></app-SettingsView>
            </div>
            <div *ngIf="showCorrections">
              <app-CorrectionsView></app-CorrectionsView>
            </div>
            <div *ngIf="showFeed">
              <app-WallView></app-WallView>
            </div>
          </div>
        </td>
      </tr> <!--Here are links to help:-->
      <tr>
        <td>
            <button id="Zeiterfassung" class="btn btn-nav" (click)="OnButtonClick('Zeiterfassung')">Zeiterfassung</button>
        </td>
      </tr> <!--Btn1-->
      <tr>
        <td>
            <button id="Settings" class="btn-nav" (click)="OnButtonClick('Settings')">Settings</button>
        </td>
      </tr> <!--Btn2-->
      <tr>
        <td>
            <button id="Korrekturen" class="btn-nav" (click)="OnButtonClick('Corrections')" >Korrekturen</button>
        </td>
      </tr> <!--Btn3-->
      <tr>
          <button id="Feed" class="btn-nav" (click)="OnButtonClick('Feed')">Feed</button>
      </tr> <!--Btn4-->
    </table>
  </div>
  <router-outlet></router-outlet>
  