<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="showLogin">
  <app-LoginView (onLoginStatusChanged)="loginStatusChanged($event)"></app-LoginView>
</div>
<div class="row" *ngIf="!showLogin">
  <div class="col__left">
    <nav class="nav" >
      <ul class="nav__list">
        <li class="box">
          <img src="../assets/clockr_on_dark.png" />
        </li>
        <li class="nav__item">
          <button id="Zeiterfassung" class="btn-nav nav__link"
            (click)="OnButtonClick('Zeiterfassung')">Zeiterfassung</button>
        </li>
        <li class="nav__item">
          <button id="Settings" class="btn-nav nav__link" (click)="OnButtonClick('Settings')">Settings</button>
        </li>
        <li class="nav__item">
          <button id="Korrekturen" class="btn-nav nav__link" (click)="OnButtonClick('Corrections')">Korrekturen</button>
        </li>
        <li class="nav__item">
          <button id="Feed" class="btn-nav nav__link" (click)="OnButtonClick('Feed')">Feed</button>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col__right">
    <div *ngIf="showZeiterfassung">
      <app-ZeiterfassungsView [currentUser] = "currentUser"></app-ZeiterfassungsView>
    </div>
    <div *ngIf="showSettings">
      <app-SettingsView [currentUser] = "currentUser"></app-SettingsView>
    </div>
    <div *ngIf="showCorrections">
      <app-CorrectionsView [currentUser] = "currentUser"></app-CorrectionsView>
    </div>
    <div *ngIf="showFeed">
      <app-WallView [currentUser] = "currentUser"></app-WallView>
    </div>
  </div>
</div>
<router-outlet></router-outlet>