<h1>{{title}}</h1>
<div class="div-content-box">

  <input type="radio" id="tabDetail" name="tab-control" checked>
  <input type="radio" id="tabClockR" name="tab-control">
  <input type="radio" id="tabUser" name="tab-control">
  <input type="radio" id="tabAdmin" name="tab-control">
  <ul>
    <li title="Details"><label for="tabDetail" role="button">
        <span>Details</span></label></li>
    <li title="ClockR"><label for="tabClockR" role="button">
        <span>ClockR</span></label></li>
    <li title="User"><label for="tabUser" role="button">
        <span>User</span></label></li>
    <li title="Admin"><label for="tabAdmin" role="button">
        <span>Admin</span></label></li>
  </ul>
  <div class="slider">
    <div class="indicator"></div>
  </div>
  <div class="content">
    <section>
      <h2>Details</h2>
      <form class="form-Base" autocomplete="off">
        <div class="div-half-width">
            <span class="input-descriptor-label-radio">Anrede</span>
        <div class="div-form-wrap-radio">
          <label class="radio">
            <input type="radio" name="details_anrede" [(ngModel)]="settings.settingsDetailDataModel.isMaleAnrede" [value]="true">
            <span>Herr</span>
          </label>
          <label class="radio">
            <input type="radio" name="details_anrede" [(ngModel)]="settings.settingsDetailDataModel.isMaleAnrede" [value]="false">
            <span>Frau</span>
          </label>
        </div>
      </div>
        <div style="visibility: hidden">
          <span>HIDDEN FOR SPACING</span>
        </div>
        <div class="div-input-wrapper div-half-width">
          <span class="input-descriptor-label">Vorname</span>
          <input class="input-base" type="text" [(ngModel)]="settings.settingsDetailDataModel.vorname" name="details_vorname" placeholder="vorname">
          <span class="span-focus"></span>
        </div>
        <div class="div-input-wrapper div-half-width">
          <span class="input-descriptor-label">Nachname</span>
          <input class="input-base" type="text" [(ngModel)]="settings.settingsDetailDataModel.nachname" name="details_nachname" placeholder="nachname">
          <span class="span-focus"></span>
        </div>
        <div style="visibility: hidden">
          <span>HIDDEN FOR SPACING</span>
        </div>
        <div class="div-button-spacer div-half-width">
          <button class="button-save-settings" (click)="onSaveDetails()">Speichern</button>
        </div>
      </form>
    </section>
    <section>
      <h2>ClockR</h2>
      <form class="form-Base" autocomplete="off">
        <div class="div-input-wrapper div-half-width ">
          <span class="input-descriptor-label">ClockR Handle</span>
          <input class="input-base" type="text" [(ngModel)]="settings.settingsClockrDataModel.clockrHandle" name="clockr_handle" placeholder="@{{settings.settingsClockrDataModel.clockrHandle || 'clockR-Handle'}}">
          <span class="span-focus"></span>
        </div>
        <div class="div-input-wrapper ">
          <span class="input-descriptor-label">Arbeit-Start-ClockR</span>
          <textarea class="input-base" [(ngModel)]="settings.settingsClockrDataModel.arbeitStartClockr" name="clockr_work_start" placeholder="Gerade angekommen! #TimeForWorkBois"></textarea>
          <span class="span-focus"></span>
        </div>
        <div class="div-input-wrapper ">
          <span class="input-descriptor-label">Pause-Start-ClockR</span>
          <textarea class="input-base" [(ngModel)]="settings.settingsClockrDataModel.pauseStartClockr" name="clockr_break_start" placeholder="Erstmal Pause #OhneMampfKeinKampf"></textarea>
          <span class="span-focus"></span>
        </div>
        <div class="div-input-wrapper ">
          <span class="input-descriptor-label">Pause-Ende-ClockR</span>
          <textarea class="input-base" [(ngModel)]="settings.settingsClockrDataModel.pauseEndeClockr" name="clockr_break_end" placeholder="Zurück an die Arbeit! #EmailChecken"></textarea>
          <span class="span-focus"></span>
        </div>
        <div class="div-input-wrapper ">
          <span class="input-descriptor-label">Arbeit-Ende-ClockR</span>
          <textarea class="input-base" [(ngModel)]="settings.settingsClockrDataModel.arbeitEndeClockr" name="clockr_work_end" placeholder="Zeit nach Hause zu gehen #AllesMauImStau"></textarea>
          <span class="span-focus"></span>
        </div>
        <div style="visibility: hidden">
          <span>HIDDEN FOR SPACING</span>
        </div>
        <div class="div-button-spacer div-half-width">
          <button class="button-save-settings" (click)="onSaveClockR()">Speichern</button>
        </div>
      </form>
    </section>
    <section>
      <h2>User</h2>
      <form class="form-Base" autocomplete="off">
        <div class="div-input-wrapper div-half-width">
          <span class="input-descriptor-label">Login</span>
          <input class="input-base" type="text" [(ngModel)]="settings.settingsUserDataModel.username" name="user_username" placeholder="username">
          <span class="span-focus"></span>
        </div>
        <div style="visibility: hidden">
          <span>HIDDEN FOR SPACING</span>
        </div>
        <div class="div-input-wrapper div-half-width">
          <span class="input-descriptor-label">Neues Passwort</span>
          <input class="input-base" type="password" [(ngModel)]="settings.settingsUserDataModel.newPassword" name="user_new_password" placeholder="neues Passwort">
          <span class="span-focus"></span>
        </div>
        <div class="div-input-wrapper div-half-width">
          <span class="input-descriptor-label">Bestätigen</span>
          <input class="input-base" type="password" [(ngModel)]="settings.settingsUserDataModel.confirmedPassword" name="user_confirm_password" placeholder="Bestätigen">
          <span class="span-focus"></span>
        </div>
        <div style="visibility: hidden">
          <span>HIDDEN FOR SPACING</span>
        </div>
        <div class="div-button-spacer div-half-width">
          <button class="button-save-settings" (click)="onSaveUser()">Speichern</button>
        </div>
      </form>
    </section>
    <section>
      <h2>Admin</h2>
      <form class="form-Base" autocomplete="off">
        <div>
          <h3>Neuen User anlegen</h3>
        </div>
        <div style="visibility: hidden" class="div-half-width">
          <span>HIDDEN FOR SPACING</span>
        </div>
        <div class="div-input-wrapper div-half-width">
          <span class="input-descriptor-label">Login</span>
          <input class="input-base" type="text" [(ngModel)]="settings.settingsAdminDataModel.username" name="admin_new_username" placeholder="username">
          <span class="span-focus"></span>
        </div>
        <div class="div-input-wrapper div-half-width">
          <span class="input-descriptor-label">Passwort</span>
          <input class="input-base" type="password" [(ngModel)]="settings.settingsAdminDataModel.password" name="admin_new_password" placeholder="Passwort">
          <span class="span-focus"></span>
        </div>
        <div class="div-input-wrapper div-half-width">
          <span class="input-descriptor-label">User-Rolle</span>
          <input class="input-base" type="text" [(ngModel)]="settings.settingsAdminDataModel.userRole" name="admin_new_role" placeholder="user-rolle">
          <span class="span-focus"></span>
        </div>
        <div class="div-half-width" style="visibility: hidden">
          <span>HIDDEN FOR SPACING</span>
        </div>
        <div class="div-half-width" style="visibility: hidden">
          <span>HIDDEN FOR SPACING</span>
        </div>
        <div class="div-button-spacer div-half-width">
          <button class="button-save-settings" (click)="onSaveAdmin()">Speichern</button>
        </div>
      </form>
    </section>
  </div>
</div>